<!DOCTYPE html>
<html lang="fr"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<head>
  <meta charset="utf-8"/>
  <title>Accueil - Les Amis De L'escalade</title>
</head>
<body>
<div layout:fragment="content1">
  <div class="container ml-md-5 col-md-6 p-2">
    <div class="card card-header shadow card bg-light text-dark">
      <h4 class="card-body alert alert-danger text-center"><i class="fas fa-exclamation-triangle"></i>Probème avec le serveur !<br> <small>ERROR 500</small></small></h4>
    </div>
  </div>
</div>
</body>

</html>