<!DOCTYPE html>
<html lang="fr"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">

<head>
  <meta charset="utf-8"/>
  <title>Home - Les Amis De L'escalade</title>
</head>
<body>
<div layout:fragment="content1">
  <main class="page registration-page">
    <section class=" clean-form dark  mt-5 ml-md-5 col-md-6">
      <div class="container">
        <div class="block-heading">
          <h2 class="h2">Ajouter un site d'esclade</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec
            auctor in, mattis vitae leo.</p>
        </div>
        <form>
          <div class="form-group"><label for="nameSite">Nom du site</label>
            <input class="form-control item" type="text" id="nameSite">
          </div>
          <div class="form-group"><label for="nbrSecteur">Nombre de secteur(s)</label><input
              class="form-control item" type="text" id="nbrSecteur">
          </div>
          <div class="form-group"><label for="lieu">Lieu</label><input class="form-control item"
                                                                       type="text" id="lieu">
          </div>
          <div class="form-group"><label for="villeProx">Ville à proximité</label><input
              class="form-control item" type="text" id="villeProx"></div>
          <div class="form-group"><label for="typeRoche">Type de roche</label><input
              class="form-control item" type="text" id="typeRoche">
          </div>

          <button class="btn :btn-primary " type="button">Enregistrer le site d'escalade</button>
        </form>
      </div>
    </section>
  </main>
</div>
</body>

</html>