<!DOCTYPE html>
<html lang="fr"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<head>
  <meta charset="utf-8"/>
  <title>Accueil - Les Amis De L'escalade</title>
</head>
<body>
<div layout:fragment="content1">

  <main class="page registration-page">
    <section class="clean-form dark  mt-5 ml-md-5 col-md-6">
      <div class="container  card shadow  bg-light  text-dark p-3 ">
        <div class="card-header">
          <h2 class="h2 text-center">Ajouter un secteur au site :</h2><h2 class="h2 text-center" th:text="${SiteEscaladeParent.getNom()}"></h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec
            auctor in, mattis vitae leo.</p>
        </div>
        <form class="p-2" method="post" th:action="@{/ajouterSecteur}" th:object="${newSecteur}" >
          <div class="form-group"><label for="nom">Nom secteur</label>
            <input class="form-control item" type="text" id="nom" name="nom" th:field="*{nom}" >
            <span th:errors="*{nom}" class="text-danger"></span>
          </div>
          <div class="form-group"><label for="description">Description</label><input
              class="form-control item" type="text" name="description" id="description" th:field="*{description}" ><span th:errors="*{description}" class="text-danger"></span></div>

          <div class="form-group"><label>Nom site d'escalade associé :</label><input class="form-control item"
                                                                                           th:field="*{siteEscalade}"   type="hidden" id="siteEscalade.nom" name="siteEscalade"  th:text="${SiteEscaladeParent.getNom()}">
            <span th:errors="*{siteEscalade}" class="text-danger"></span>
          </div>
          <button class="btn btn-primary " type="submit">Enregistrer</button>
        </form>
      </div>
    </section>
  </main>
</div>

</body>

</html>