<!DOCTYPE html>
<html lang="fr"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<head>
  <meta charset="utf-8"/>
  <title>Accueil - Les Amis De L'escalade</title>
</head>
<body>
<div layout:fragment="content1">

  <select name="cotation">
    <option th:each="cotationOpt : ${T(entities.Cotation).getDisplayValue()}"
            th:value="${cotationOpt}" th:text="${cotationOpt}"></option>
  </select>

</div>
</body>

</html>