<!DOCTYPE html>
<html lang="fr"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<head>
  <meta charset="utf-8"/>
  <title>Accueil - Les Amis De L'escalade</title>
</head>
<body>
<div layout:fragment="content1">
  <main class="page registration-page">
    <section class=" clean-form dark  mt-5 ml-md-5 col-md-6">
      <div class="container">
        <div class="block-heading">
          <h2 class="h2">Inscription</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec
            auctor in, mattis vitae leo.</p>
        </div>

        <form th:action="@{/registration}" method="post">
          <div class="form-group"><label for="username">Pseudo</label>
            <input
                class="form-control item"
                type="text" id="username" name="userName"
                th:value="${utilisateurConnecte.userName}"/></div>
          <span th:errors="${utilisateurConnecte.userName}" class="text-danger"></span>
          <div>
            <div class="form-group">
              <label for="civilite">Civilite :</label>
              <select id="civilite" th:field="*{civilite}">
                <option th:each="CiviliteSelection : ${civilite}"
                        th:text="${CiviliteSelection}"
                        th:value="${CiviliteSelection}">
                </option>
              </select>
            </div>
          </div>

          <div class="form-group"><label for="name">Nom</label><input class="form-control item"
                                                                      name="nom" type="text"
                                                                      id="name"
                                                                      th:value="${utilisateurConnecte.nom}">
          </div>
          <span th:errors="${utilisateurConnecte.nom}" class="text-danger"></span>
          <div class="form-group"><label for="prenom">Prénom</label><input class="form-control item"
                                                                           name="prenom" type="text"
                                                                           id="prenom"
                                                                           th:value="${utilisateurConnecte.prenom}">
          </div>
          <div class="form-group"><label for="password">Mot de Passe</label><input
              name="motDePasse" class="form-control item" type="password" id="password"
              th:value="${utilisateurConnecte.motDePasse}"></div>

          <div class="form-group"><label for="passwordConfirmation">Confirmation du Mot de
            Passe</label><input
              class="form-control item" type="password" id="passwordConfirmation"></div>
          <div class="form-group"><label for="email">E-mail</label><input class="form-control item"
                                                                          name="email" type="text"
                                                                          id="email"
                                                                          th:value="${utilisateurConnecte.email}">
          </div>
          <div class="form-group"><label for="messagePerso">Parler nous de vous</label>
            <textarea class="form-control" id="messagePerso" rows="2"
                      name="presentationPersonel"
                      placeholder="Une bref présentation qui résume votre passion pour l'escalade..">
            </textarea>
          </div>
          <button class="btn btn-primary " type="submit">S'enregistrer</button>
        </form>
      </div>
    </section>
  </main>
</div>
</body>

</html>