<!DOCTYPE html>
<html lang="fr"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">

<head>
  <meta charset="utf-8"/>
  <title>Les Sites D'escalade - Les Amis De L'escalade</title>
</head>
<body>
<div layout:fragment="content1">
  <div class="container mt-5 ml-md-5 col-md-6">
    <div class="shadow card bg-light">

      <div class="card-header h4 text-dark text-center">Nos Sites D'escalades</div>
      <div class=" p-3">
        <form class="form-group" th:action="@{/siteEscalade}" method="get">
          <label>Un site d'escalade en particulier ?</label>
          <div class="input-group mb-3">
            <input type="text" class="form-control" name="nomSiteEscaladeInsere" th:value="${sei}"
                   placeholder="Saisir mot clé.." aria-label="sei" aria-describedby="button-addon2"
                   id="nomSiteEscaladeInsere">
            <div class="input-group-append">
              <button class="btn btn-primary" type="submit" id="button-addon2">Rechercher</button>
            </div>
          </div>
          <div class="align-content-between">
            <input id="NOM" type="radio" name="typeRecherche" value="NOM"
                   checked="checked"><label for="NOM">Nom</label>
            <input id="LIEU" type="radio" name="typeRecherche" value="LIEU"
            ><label for="LIEU">Lieu</label>
            <input id="VILLEPROX" type="radio" name="typeRecherche" value="VILLEPROX"
            ><label for="VILLEPROX">Ville à Proximité</label>
          </div>
        </form>
      </div>
      <div class="text-danger p-3" th:if="${siteEscalade.isEmpty()}">Aucun Site D'escalade Trouvé
        !!
      </div>
      <table class="table table-hover" th:if="${!siteEscalade.isEmpty()}">
        <tr class="card-header">
          <th>NOM</th>
          <th>LIEU</th>
          <th></th>
          <th></th>
        </tr>
        <tr th:each="s:${siteEscalade}">
          <th th:text="${s.nom}"></th>
          <th th:text="${s.lieu}"></th>
          <th class="text-center"><a class="btn btn-primary"
                                     th:href="@{/viewSiteEscalade(nom=${s.nom})}">Consulter</a></th>
          <th class="text-center"><a class="btn btn-primary"
                                     th:href="@{/edit(nom=${s.nom})}">Editer</a></th>
        </tr>
      </table>

    </div>
    <div class="container" th:if="${nbrPagesTotal>1}">
      <ul class="pagination justify-content-center ">
        <li class="page-item">
          <a class="page-link "
             th:href="@{/siteEscalade(numPages=(${currentPage}-1),nomSiteEscaladeInsere=${sei},typeRecherche=${currentTypeRecherche})}"
             aria-label="Previous" th:if="${currentPage>0}">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>

        <li class="page-item" th:classappend="${currentPage==status.index}?'active':''"
            th:each="numPages,status:${pages}">
          <a class="page-link "
             th:href="@{/siteEscalade(numPages=${status.index},nomSiteEscaladeInsere=${sei},typeRecherche=${currentTypeRecherche})}"
             th:text="${status.index}"></a>
        </li>
        <li class="page-item">
          <a class="page-link"
             th:href="@{/siteEscalade(numPages=(${currentPage}+1),nomSiteEscaladeInsere=${sei},typeRecherche=${currentTypeRecherche})}"
             aria-label="Next" th:if="${siteEscalade.size()>4}">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </div>
  </div>

</div>
</body>

</html>