<!DOCTYPE html>
<html lang="fr"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">

<head>
  <meta charset="utf-8"/>
  <title>Nos Topos - Les Amis De L'escalade</title>
</head>
<body>
<div layout:fragment="content1">

    <div class="container mt-5 ml-md-5 col-md-6">
      <div class="shadow card bg-light">
        <div class="card-header h4 text-dark text-center">
          <div>NOS TOPOS</div>
        </div>
        <div class="p-2">
          <table class="table table-hover table-bordered table-striped">

              <li class="btn btn-light list-group-item d-flex justify-content-between align-items-center" th:each="topo : ${toposList}">
                <a th:href="@{/user/viewTopos/{id}(id=${topo.id})}">
                  <div class="btn" th:text="${topo.nom.toUpperCase()}"></div>
                </a>
                <span th:class="${topo.disponibleEnLocation ? 'badge badge-success badge-pill' : 'badge badge-danger badge-pill'}">◇️</span>
              </li>

          </table>
        </div>
      </div>
    </div>













  </div>
</div>
</body>

</html>