<!DOCTYPE html>
<html lang="fr"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<head>
  <meta charset="utf-8"/>
  <title>Site d'escalade</title>
</head>
<body>
<div layout:fragment="content1">


    <div class="text-danger" th:if="${exception}" th:text="${exception.message}"></div>
    <div class="container mt-5 ml-md-5 col-md-6" th:if="${secteurSelected}">
      <div class="shadow card bg-light">
        <div class="card-header h4 text-dark text-center" th:text="${secteurSelected.nom}">
        </div>

        <div class="p-2">
          <table class="table table-hover table-bordered table-striped">
            <tr>
              <th>Description</th>
              <th class="text-center" th:text="${secteurSelected.description}"></th>
            </tr>
            <tr th:if="${secteurSelected.voies.size()>0}">
              <th>Voies</th>
              <th>
                <ul th:each="voies : ${secteurSelected.voies}">
                  <li class="list-inline" th:text="${voies.nom}"></li></ul>
              </th>
          </table>
          <a class="btn btn-primary"
             th:href="@{/creationVoie/{id}(id=${secteurSelected.id})}">+ Ajouter une voie</a>
        </div>
      </div>
    </div>


</div>
</body>

</html>