<!DOCTYPE html>
<html lang="fr"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<head>
  <meta charset="utf-8"/>
  <title>Site d'escalade</title>
</head>
<body>
<div layout:fragment="content1">
  <div class="text-danger" th:if="${exception}" th:text="${exception.getMessage()}"></div>
  <div class="container mt-5 ml-md-5 col-md-6" th:if="${siteEscaladeSelected}">
    <div class="shadow card bg-light">
      <div class="card-header h4 text-dark text-center"
           th:text="${siteEscaladeSelected.nom.toUpperCase()}">
      </div>

      <div class="p-2">
        <table class="table table-hover table-bordered table-striped">
          <tr>
            <th>Nombre de secteur(s)</th>
            <th class="text-center" th:text="${siteEscaladeSelected.nbrSecteur}"></th>
          </tr>
          <tr>
            <th>Lieu</th>
            <th class="text-center" th:text="${siteEscaladeSelected.lieu}"></th>
          </tr>
          <tr>
            <th>Ville à Proximité</th>
            <th class="text-center" th:text="${siteEscaladeSelected.villeProximite}"></th>
          </tr>
          <tr>
            <th>Type de roche</th>
            <th class="text-center" th:text="${siteEscaladeSelected.typeRoche}"></th>
          </tr>
          <tr th:if="${siteEscaladeSelected.secteurs.size()>0}">
            <th>Secteur</th>
            <th>
              <ul th:each="secteur : ${siteEscaladeSelected.secteurs}">
                <a th:href="@{/viewSecteur/{id}(id=${secteur.id})}">
                  <li class="list-inline" th:text="${secteur.nom}">
                </a> </li></ul>
            </th>
          </tr>
          <tr th:if="${siteEscaladeSelected.tag}">
            <th>"Offciel les amis de l'escalade"</th>
            <th class="text-center text-success">Approuvé</th>
          </tr>
          <tr th:if="${!siteEscaladeSelected.tag}">
            <th>"Offciel les amis de l'escalade"</th>
            <th class="text-center text-danger ">Non Approuvé</th>
          </tr>
        </table>
        <div class="btn btn-group text-center"><a class="btn btn-info"
                                                  th:href="@{/edit/{id}(id=${siteEscaladeSelected.id})}"><i class="fas fa-edit"></i>Editer</a>
          <a class="btn btn-primary"
             th:href="@{/creationSecteur/{id}(id=${siteEscaladeSelected.id})}"><i class="fas fa-plus"></i> Ajouter un
            secteur</a>
          <a class="btn btn-primary"
             th:href="@{/user/creationCommentaire/{siteEscaladeId}(siteEscaladeId=${siteEscaladeSelected.id})}"><i class="fas fa-plus"></i>
            Ajouter un commentaire</a>
        </div>
      </div>
    </div>
  </div>


  <div class="container mt-5 ml-md-5 col-md-6 mb-3"
       th:if="${siteEscaladeSelected.commentaires.size()>0}">
    <div class="shadow card bg-light">
      <div class="card-header  h4 text-dark text-center" th:text="COMMENTAIRE"></div>
      <div class="card-body p-2">
        <table class="table table-striped table-bordered">
          <thead>
          <tr class="text-primary">
            <th scope="col">Pseudo</th>
            <th scope="col">Titre</th>
            <th scope="col">Message</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="commentaire : ${siteEscaladeSelected.commentaires}">
            <th scope="row" th:text="${commentaire.utilisateurConnecte.username}"></th>
            <td th:text="${commentaire.titre}"></td>
            <td th:text="${commentaire.message}"></td>
          </tr>
        </table>
      </div>
    </div>
  </div>

</div>
</body>

</html>