<!DOCTYPE html>
<html lang="fr"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<head>
  <meta charset="utf-8"/>
  <title>Site d'escalade</title>
</head>
<body>
<div layout:fragment="content1">
  <div class="container mt-5 ml-md-5 col-md-6" th:if="${name}">
    <div class="shadow card bg-light">

      <div class="card-header h4 text-dark text-center" th:text="${name}"></div>
      <div class="p-2">
        <table class="table table-hover table-bordered table-striped">
          <tr>
            <th>Nombre de secteur(s)</th>
            <th class="text-center" th:text="${nbrSecteur}"></th>
          </tr>
          <tr>
            <th>Lieu</th>
            <th class="text-center" th:text="${Lieu}"></th>
          </tr>
          <tr>
            <th>Ville à Proximité</th>
            <th class="text-center" th:text="${villeAProximite}"></th>
          </tr>
          <tr>
            <th>Type de roche</th>
            <th class="text-center" th:text="${typeRoche}"></th>
          </tr>
          <tr th:if="${secteur.size()>0}">
            <th>Secteur</th>
            <th class="text-center" th:text="${secteur}"></th>
          </tr>
          <tr th:if="${tag}">
            <th>"Offciel les amis de l'escalade"</th>
            <th class="text-center text-success">Approuvé</th>
          </tr>
        </table>

      </div>
    </div>
  </div>

</div>
</body>

</html>